{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="margin-top: 6%;">
      <h1 class="mt-5">Cadastro de cidades</h1>
      <p class="lead">Insira os dados da cidade que deseja calcular suas rotas</p>
    </div>
  </main>
  
  <footer class="footer py-3 bg-light">
    <div class="container">
        <form method='POST'>{% csrf_token %}
            <table>{{form.as_table}}</table>
            <input type='submit' class="btn btn-primary" style="margin-top: 2%;" value='Cadastrar' />
        </form>
        
        <ul style="margin-top: 2%;" >
            {% for cit in Cidades %}
                <li><pre>{{cit.name}} - {{cit.latitude}} - {{cit.longitude}}</pre></li>
            {% endfor %}
        </ul>
    </div>
  </footer>

{% endblock %}

