{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="margin-top: 6%;">
      <h1 class="mt-5">Cadastro de clientes</h1>
      <p class="lead">Insira os dados do seu cliente e finalize em 'cadastrar'</p>
    </div>
  </main>
  
  <footer class="footer py-3 bg-light">
    <div class="container">
        <form method='POST'>{% csrf_token %}
            <table>{{form.as_table}}</table>
            <input type='submit' class="btn btn-primary" style="margin-top: 2%;" value='Cadastrar' />
        </form>
        
        <!--Generates a list of already cadastred CLients-->
        <ul style="margin-top: 2%;" >
            {% for cli in Clientes %}
                <li><pre> {{cli.name}} - {{cli.cidade}} - {{cli.latitude}} - {{cli.longitude}}</pre></li>
            {% endfor %}
        </ul>
    </div>
  </footer>
{% endblock %}
